name: Build and Release

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Manuelle Versionsnummer'
        required: false
permissions:
  contents: write
env:
  VERSION: ${{ github.ref_type == 'tag' && github.ref_name || inputs.version }}

jobs:
  build-windows-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64,arm64
          - os: freebsd
            arch: amd64,arm64
          - os: windows
            arch: amd64
    steps:
      - name: Set version
        run: echo "VERSION=${VERSION}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Checkout specified tag if manual version provided
        if: ${{ github.ref_type != 'tag' && inputs.version != '' }}
        run: |
          git fetch --tags
          git checkout "refs/tags/${{ inputs.version }}"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Install fyne and fyne-cross
        run: |
          go install fyne.io/fyne/v2/cmd/fyne@latest
          go install github.com/fyne-io/fyne-cross@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Build binaries
        run: fyne-cross ${{ matrix.os }} -arch ${{ matrix.arch }} -app-id com.scramb.jirion -icon ./assets/app.png
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.arch }}
          path: fyne-cross/dist/${{ matrix.os }}-${{ matrix.arch }}/*

  build-macos-intel:
    runs-on: macos-15-intel
    steps:
      - name: Set version
        run: echo "VERSION=${VERSION}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Checkout specified tag if manual version provided
        if: ${{ github.ref_type != 'tag' && inputs.version != '' }}
        run: |
          git fetch --tags
          git checkout "refs/tags/${{ inputs.version }}"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Install fyne CLI
        run: go install fyne.io/tools/cmd/fyne@latest
      - name: Build macOS app
        run: |
          fyne package -release -os darwin -icon ./assets/app.png -name Jirion -appID com.scramb.jirion
      - name: Archive app
        run: tar -czf Jirion-arm64.tar.gz Jirion.app
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: darwin-intel
          path: '${{ github.workspace }}/Jirion-Intel*.tar.gz'

  build-macos-arm:
    runs-on: macos-15
    steps:
      - name: Set version
        run: echo "VERSION=${VERSION}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Checkout specified tag if manual version provided
        if: ${{ github.ref_type != 'tag' && inputs.version != '' }}
        run: |
          git fetch --tags
          git checkout "refs/tags/${{ inputs.version }}"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Install fyne CLI
        run: go install fyne.io/tools/cmd/fyne@latest
      - name: Build macOS app
        run: |
          fyne package -release -os darwin -icon ./assets/app.png -name Jirion -appID com.scramb.jirion
      - name: Archive app
        run: tar -czf Jirion-amd64.tar.gz Jirion.app
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: darwin-silicon
          path: '${{ github.workspace }}/Jirion-amd64*.tar.gz'

  release:
    needs: [build-windows-linux, build-macos-arm, build-macos-intel]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Zip source
        run: zip -r source.zip .
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            **/*.tar.xz
            **/*.zip
            **/*.tar.gz
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}